In [4]:
import requests
import pandas as pd
import numpy as np

In [130]:
# taking London APIs with concat and appending different data in a single for loop

# adding rangeminL and rangemaxL to choose the range you want

# adding month year also to be able to choose month and year for a location you want
month=9

year=2021

rangeminL=13

rangemaxL=21

London = []

for i in range(rangeminL+1,rangemaxL):
    if i<10:
        url='https://www.metaweather.com/api/location/44418/'+str(year)+'/'+str(month)+'/0'+str(i)+'/'
    else:
        url='https://www.metaweather.com/api/location/44418/'+str(year)+'/'+str(month)+'/'+str(i)+'/'
    res = pd.DataFrame(requests.get(url).json())    
    London.append(res)

# reseting index
London = pd.concat(London).reset_index()
London.drop('index',axis=1,inplace=True)

# adding an extra column to identify the location
London['location']='London UK'
 
London

,id,weather_state_name,weather_state_abbr,wind_direction_compass,created,applicable_date,min_temp,max_temp,the_temp,wind_speed,wind_direction,air_pressure,humidity,visibility,predictability,location
0,6528591362785280,Light Rain,lr,NE,2021-09-14T21:59:02.057050Z,2021-09-14,15.07,18.570,17.630,2.583334,52.280365,1011.0,94,6.046252,75,London UK
1,4776068041932800,Light Rain,lr,NE,2021-09-14T18:59:02.582307Z,2021-09-14,15.07,18.495,17.640,2.610000,55.059813,1011.0,94,6.133244,75,London UK
2,5468888813797376,Heavy Rain,hr,NE,2021-09-14T15:59:01.666949Z,2021-09-14,15.07,18.495,17.650,2.610000,55.059813,1011.0,94,5.285694,77,London UK
3,5435148221808640,Heavy Rain,hr,NE,2021-09-14T12:59:02.720285Z,2021-09-14,14.91,17.730,17.605,2.632370,50.111400,1011.5,92,5.459057,77,London UK
4,5807713113079808,Heavy Rain,hr,E,2021-09-14T09:59:02.450698Z,2021-09-14,15.01,18.555,17.310,2.975970,84.000000,1012.0,92,5.821627,77,London UK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,4725751292100608,Heavy Cloud,hc,W,2021-09-12T12:59:13.949129Z,2021-09-20,13.74,22.700,21.310,2.118876,261.000000,1017.0,46,NaN,71,London UK
400,4982264858411008,Heavy Cloud,hc,W,2021-09-12T09:59:12.981123Z,2021-09-20,13.74,22.700,21.310,2.118876,261.000000,1017.0,46,NaN,71,London UK
401,6453191970390016,Clear,c,E,2021-09-12T06:59:14.459430Z,2021-09-20,11.52,17.470,17.390,3.137925,82.000000,1025.0,38,NaN,68,London UK
402,6434151843495936,Clear,c,E,2021-09-12T03:59:14.547209Z,2021-09-20,11.52,17.470,17.390,3.137925,82.000000,1025.0,38,NaN,68,London UK
403,5171462999638016,Heavy Cloud,hc,E,2021-09-12T00:59:13.549991Z,2021-09-20,13.10,20.250,20.250,2.466844,91.000000,1018.0,39,NaN,71,London UK

In [131]:
# taking San Fransisco APIs with concat and appending different data in a single for loop
rangeminSF=13
rangemaxSF=21
SanFr = []

for i in range(rangeminSF+1,rangemaxSF):
    if i<10:
        url='https://www.metaweather.com/api/location/2487956/'+str(year)+'/'+str(month)+'/0'+str(i)+'/'
    else:
        url='https://www.metaweather.com/api/location/2487956/'+str(year)+'/'+str(month)+'/'+str(i)+'/'
        
    res = pd.DataFrame(requests.get(url).json())    
    SanFr.append(res)
# reseting index
SanFr = pd.concat(SanFr).reset_index()
SanFr.drop('index',axis=1,inplace=True)
SanFr['location']='San Fransisco USA'
SanFr

,id,weather_state_name,weather_state_abbr,wind_direction_compass,created,applicable_date,min_temp,max_temp,the_temp,wind_speed,wind_direction,air_pressure,humidity,visibility,predictability,location
0,4767606553706496,Light Cloud,lc,SW,2021-09-15T06:59:16.860248Z,2021-09-14,12.690,19.885,19.820,6.099965,234.594088,1013.0,74,14.718730,70,San Fransisco USA
1,6681775095939072,Light Cloud,lc,SW,2021-09-15T03:59:17.468116Z,2021-09-14,12.695,20.305,19.730,6.223914,232.501509,1012.5,73,15.010775,70,San Fransisco USA
2,5401804343869440,Clear,c,SW,2021-09-15T00:59:16.528544Z,2021-09-14,12.695,20.305,21.305,5.672138,232.501509,1012.5,69,12.173594,68,San Fransisco USA
3,4763697865031680,Clear,c,WSW,2021-09-14T21:59:16.852056Z,2021-09-14,12.695,20.305,21.335,5.754159,239.700447,1012.5,70,12.977337,68,San Fransisco USA
4,5886316685295616,Light Cloud,lc,SW,2021-09-14T18:59:17.957984Z,2021-09-14,12.350,19.350,21.555,5.531638,232.388539,1012.5,62,12.023843,70,San Fransisco USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,5946008811864064,Clear,c,W,2021-09-12T21:59:40.493275Z,2021-09-20,13.050,19.670,19.670,2.752674,272.000000,1015.0,52,NaN,68,San Fransisco USA
385,6363823230418944,Clear,c,W,2021-09-12T18:59:39.864396Z,2021-09-20,13.000,20.240,20.240,2.727820,274.000000,1017.0,47,NaN,68,San Fransisco USA
386,5348732540289024,Clear,c,W,2021-09-12T15:59:41.381061Z,2021-09-20,13.000,20.240,20.240,2.727820,274.000000,1017.0,47,NaN,68,San Fransisco USA
387,5263739768012800,Clear,c,W,2021-09-12T12:59:40.758282Z,2021-09-20,13.090,16.850,16.850,3.492106,276.000000,1019.0,71,NaN,68,San Fransisco USA
388,5746549591113728,Clear,c,W,2021-09-12T09:59:40.051268Z,2021-09-20,13.090,16.850,16.850,3.492106,276.000000,1019.0,71,NaN,68,San Fransisco USA

In [132]:
# taking San Antonio APIs with concat and appending different data in a single for loop
rangeminSA=13
rangemaxSA=21
SanAn = []
for i in range(rangeminSA,rangemaxSA):
    if i<10:
        url='https://www.metaweather.com/api/location/2487796/'+str(year)+'/'+str(month)+'/0'+str(i)+'/'
    else:
        url='https://www.metaweather.com/api/location/2487796/'+str(year)+'/'+str(month)+'/'+str(i)+'/'
    res = pd.DataFrame(requests.get(url).json())    
    SanAn.append(res)
# reseting index
SanAn = pd.concat(SanAn).reset_index()
SanAn.drop('index',axis=1,inplace=True)
SanAn['location']='San Antonio USA'
SanAn

,id,weather_state_name,weather_state_abbr,wind_direction_compass,created,applicable_date,min_temp,max_temp,the_temp,wind_speed,wind_direction,air_pressure,humidity,visibility,predictability,location
0,4950601419980800,Showers,s,ENE,2021-09-14T04:13:13.461211Z,2021-09-13,22.330,29.095,29.250,8.560890,78.000000,1012.5,70,14.314217,73,San Antonio USA
1,4658934754312192,Heavy Rain,hr,ENE,2021-09-14T01:13:13.582816Z,2021-09-13,22.330,29.095,27.190,7.449881,74.433521,1015.5,82,9.367171,77,San Antonio USA
2,4685323033378816,Heavy Rain,hr,ENE,2021-09-13T22:13:12.814142Z,2021-09-13,22.330,29.095,27.790,7.449881,74.433521,1015.5,82,9.367171,77,San Antonio USA
3,5861718602285056,Heavy Rain,hr,ENE,2021-09-13T19:13:13.964932Z,2021-09-13,23.145,28.110,27.375,8.724102,68.248158,1015.5,77,7.519834,77,San Antonio USA
4,5776332664340480,Heavy Rain,hr,ENE,2021-09-13T16:13:13.348227Z,2021-09-13,22.955,28.095,27.375,8.944102,68.940683,1015.5,78,7.522009,77,San Antonio USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,6331038268653568,Heavy Rain,hr,SSE,2021-09-12T19:13:36.815879Z,2021-09-20,24.720,36.250,34.090,3.796578,147.000000,1014.0,40,NaN,77,San Antonio USA
462,5738930050695168,Heavy Rain,hr,SSE,2021-09-12T16:13:37.806690Z,2021-09-20,24.720,36.250,34.090,3.796578,147.000000,1014.0,40,NaN,77,San Antonio USA
463,4771469205700608,Heavy Rain,hr,ESE,2021-09-12T13:13:37.692893Z,2021-09-20,23.930,32.760,32.310,2.311501,116.000000,1014.0,47,NaN,77,San Antonio USA
464,5525487355953152,Heavy Rain,hr,ESE,2021-09-12T10:13:36.679046Z,2021-09-20,23.930,32.760,32.310,2.311501,116.000000,1014.0,47,NaN,77,San Antonio USA
465,5698988893274112,Clear,c,SSE,2021-09-12T07:13:38.286563Z,2021-09-20,25.130,36.590,34.450,3.690945,156.000000,1013.0,40,NaN,68,San Antonio USA

In [139]:
# concat all data in a single file

all_data=pd.concat([London,SanFr,SanAn]).reset_index()
all_data.drop('index',axis=1,inplace=True)

In [140]:
# some data cleaning/formating because of decimals

# temperature: I would round to decimal = 3 so I wont miss any valuable information

# wind_direction: should be rounded to decimal = 3 because it is calculated to degrees

# for visibility I would keep the null values because they represent that we have no information

for i in ['min_temp','max_temp','the_temp','wind_direction','visibility']:
    all_data.round(decimals=3)
    
# wind_speed should be rounded to decimal = 2 because it is calculated to mph

for i in ['wind_speed','air_pressure']:
    all_data.round(decimals=2)
     
# humidity it is a percentage as it is stated in https://www.metaweather.com/api/ so i round to 0

# predictability would keep the Null values 

for i in ['humidity','predictability']:
    all_data.round(decimals=0)

all_data

,id,weather_state_name,weather_state_abbr,wind_direction_compass,created,applicable_date,min_temp,max_temp,the_temp,wind_speed,wind_direction,air_pressure,humidity,visibility,predictability,location
0,6528591362785280,Light Rain,lr,NE,2021-09-14T21:59:02.057050Z,2021-09-14,15.07,18.570,17.630,2.583334,52.280365,1011.0,94,6.046252,75,London UK
1,4776068041932800,Light Rain,lr,NE,2021-09-14T18:59:02.582307Z,2021-09-14,15.07,18.495,17.640,2.610000,55.059813,1011.0,94,6.133244,75,London UK
2,5468888813797376,Heavy Rain,hr,NE,2021-09-14T15:59:01.666949Z,2021-09-14,15.07,18.495,17.650,2.610000,55.059813,1011.0,94,5.285694,77,London UK
3,5435148221808640,Heavy Rain,hr,NE,2021-09-14T12:59:02.720285Z,2021-09-14,14.91,17.730,17.605,2.632370,50.111400,1011.5,92,5.459057,77,London UK
4,5807713113079808,Heavy Rain,hr,E,2021-09-14T09:59:02.450698Z,2021-09-14,15.01,18.555,17.310,2.975970,84.000000,1012.0,92,5.821627,77,London UK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,6331038268653568,Heavy Rain,hr,SSE,2021-09-12T19:13:36.815879Z,2021-09-20,24.72,36.250,34.090,3.796578,147.000000,1014.0,40,NaN,77,San Antonio USA
1255,5738930050695168,Heavy Rain,hr,SSE,2021-09-12T16:13:37.806690Z,2021-09-20,24.72,36.250,34.090,3.796578,147.000000,1014.0,40,NaN,77,San Antonio USA
1256,4771469205700608,Heavy Rain,hr,ESE,2021-09-12T13:13:37.692893Z,2021-09-20,23.93,32.760,32.310,2.311501,116.000000,1014.0,47,NaN,77,San Antonio USA
1257,5525487355953152,Heavy Rain,hr,ESE,2021-09-12T10:13:36.679046Z,2021-09-20,23.93,32.760,32.310,2.311501,116.000000,1014.0,47,NaN,77,San Antonio USA
1258,5698988893274112,Clear,c,SSE,2021-09-12T07:13:38.286563Z,2021-09-20,25.13,36.590,34.450,3.690945,156.000000,1013.0,40,NaN,68,San Antonio USA

In [141]:
# changing created column in order to be readable as datetime
all_data['created']= all_data['created'].apply(lambda x: x.split('T')[0]+ " " + x.split('T')[1].split('.')[0])

# getting our data to csv and then add it to our relational database (check MySQL file)
all_data.to_csv('all_data.csv')
all_data

,id,weather_state_name,weather_state_abbr,wind_direction_compass,created,applicable_date,min_temp,max_temp,the_temp,wind_speed,wind_direction,air_pressure,humidity,visibility,predictability,location
0,6528591362785280,Light Rain,lr,NE,2021-09-14 21:59:02,2021-09-14,15.07,18.570,17.630,2.583334,52.280365,1011.0,94,6.046252,75,London UK
1,4776068041932800,Light Rain,lr,NE,2021-09-14 18:59:02,2021-09-14,15.07,18.495,17.640,2.610000,55.059813,1011.0,94,6.133244,75,London UK
2,5468888813797376,Heavy Rain,hr,NE,2021-09-14 15:59:01,2021-09-14,15.07,18.495,17.650,2.610000,55.059813,1011.0,94,5.285694,77,London UK
3,5435148221808640,Heavy Rain,hr,NE,2021-09-14 12:59:02,2021-09-14,14.91,17.730,17.605,2.632370,50.111400,1011.5,92,5.459057,77,London UK
4,5807713113079808,Heavy Rain,hr,E,2021-09-14 09:59:02,2021-09-14,15.01,18.555,17.310,2.975970,84.000000,1012.0,92,5.821627,77,London UK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,6331038268653568,Heavy Rain,hr,SSE,2021-09-12 19:13:36,2021-09-20,24.72,36.250,34.090,3.796578,147.000000,1014.0,40,NaN,77,San Antonio USA
1255,5738930050695168,Heavy Rain,hr,SSE,2021-09-12 16:13:37,2021-09-20,24.72,36.250,34.090,3.796578,147.000000,1014.0,40,NaN,77,San Antonio USA
1256,4771469205700608,Heavy Rain,hr,ESE,2021-09-12 13:13:37,2021-09-20,23.93,32.760,32.310,2.311501,116.000000,1014.0,47,NaN,77,San Antonio USA
1257,5525487355953152,Heavy Rain,hr,ESE,2021-09-12 10:13:36,2021-09-20,23.93,32.760,32.310,2.311501,116.000000,1014.0,47,NaN,77,San Antonio USA
1258,5698988893274112,Clear,c,SSE,2021-09-12 07:13:38,2021-09-20,25.13,36.590,34.450,3.690945,156.000000,1013.0,40,NaN,68,San Antonio USA

<!-- List the latest forecast for each location for every day -->

# Create an API that uses the downloaded data and provides endpoints for the following:

# The latest forecast for each location for every day:

In [221]:
# importing our data from the created csv file
df=pd.read_csv(r'C:\Users\adoni\Desktop\margera\all_data.csv')

# dropping unnamed column
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df

,id,weather_state_name,weather_state_abbr,wind_direction_compass,created,applicable_date,min_temp,max_temp,the_temp,wind_speed,wind_direction,air_pressure,humidity,visibility,predictability,location
0,6528591362785280,Light Rain,lr,NE,2021-09-14 21:59:02,2021-09-14,15.07,18.570,17.630,2.583334,52.280365,1011.0,94,6.046252,75,London UK
1,4776068041932800,Light Rain,lr,NE,2021-09-14 18:59:02,2021-09-14,15.07,18.495,17.640,2.610000,55.059813,1011.0,94,6.133244,75,London UK
2,5468888813797376,Heavy Rain,hr,NE,2021-09-14 15:59:01,2021-09-14,15.07,18.495,17.650,2.610000,55.059813,1011.0,94,5.285694,77,London UK
3,5435148221808640,Heavy Rain,hr,NE,2021-09-14 12:59:02,2021-09-14,14.91,17.730,17.605,2.632370,50.111400,1011.5,92,5.459057,77,London UK
4,5807713113079808,Heavy Rain,hr,E,2021-09-14 09:59:02,2021-09-14,15.01,18.555,17.310,2.975970,84.000000,1012.0,92,5.821627,77,London UK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,6331038268653568,Heavy Rain,hr,SSE,2021-09-12 19:13:36,2021-09-20,24.72,36.250,34.090,3.796578,147.000000,1014.0,40,NaN,77,San Antonio USA
1255,5738930050695168,Heavy Rain,hr,SSE,2021-09-12 16:13:37,2021-09-20,24.72,36.250,34.090,3.796578,147.000000,1014.0,40,NaN,77,San Antonio USA
1256,4771469205700608,Heavy Rain,hr,ESE,2021-09-12 13:13:37,2021-09-20,23.93,32.760,32.310,2.311501,116.000000,1014.0,47,NaN,77,San Antonio USA
1257,5525487355953152,Heavy Rain,hr,ESE,2021-09-12 10:13:36,2021-09-20,23.93,32.760,32.310,2.311501,116.000000,1014.0,47,NaN,77,San Antonio USA
1258,5698988893274112,Clear,c,SSE,2021-09-12 07:13:38,2021-09-20,25.13,36.590,34.450,3.690945,156.000000,1013.0,40,NaN,68,San Antonio USA

In [183]:
# print info to see the Dtype of columns
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1259 non-null   int64
 1   weather_state_name      1259 non-null   object
 2   weather_state_abbr      1259 non-null   object
 3   wind_direction_compass  1259 non-null   object
 4   created                 1259 non-null   object
 5   applicable_date         1259 non-null   object
 6   min_temp                1259 non-null   float64
 7   max_temp                1259 non-null   float64
 8   the_temp                1259 non-null   float64
 9   wind_speed              1259 non-null   float64
 10  wind_direction          1259 non-null   float64
 11  air_pressure            1259 non-null   float64
 12  humidity                1259 non-null   int64
 13  visibility              1046 non-null   float64
 14  predictability          1259 non-null   int64
 15  location                1259 non-null   object
dtypes: float64(7), int64(3), object(6)
memory usage: 157.5+ KB
None

In [ ]:
# importing the extra libraries that we will need

In [143]:
from flask import *
import json

# Creating an API for latest forecast 'created' for each location and each day 
# (groupby(['location','applicable_date'])

In [222]:
#when you run the cell this should be the address where the endpoints are being shown http://127.0.0.1:7433/
app= Flask(__name__)
@app.route('/',methods=['GET'])

def request_page():
    
    maximum=df.groupby(['location','applicable_date'])['created'].max().reset_index()
    
#   convert our data to dictionary so it could be transformed to json file
    data_set=maximum.to_dict()
    
    json_dump= json.dumps(data_set)
    
    return json_dump
if __name__=='__main__':
    app.run(port=7433)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:7433/ (Press CTRL+C to quit)
127.0.0.1 - - [16/Sep/2021 15:48:24] "GET / HTTP/1.1" 200 -

# List the average temp of the last 3 forecasts for each location for every day

In [223]:
#the whole API address is http://127.0.0.1:5555/random

app= Flask(__name__)

new=df
@app.route('/random',methods=['GET'])
def page():
    
    # taking only the date from forecast in order to group by
    new['created']=new['created'].apply(pd.to_datetime)
    
    new['date_of_forecast']=new['created'].apply(lambda x: x.date())
    
    # using dense_rank(in case we have multiple top 3) to get the top 3 for each day for every location
    
    new['ranked']=new.groupby(['location','date_of_forecast'])['created'].rank(method='dense',ascending=False)
    
    # using mean function to take the average of the last 3 the_temp
    
    requested=new[new['ranked']<=3].groupby(['location','date_of_forecast'])['the_temp'].mean().reset_index()
    
    # convert date_of_forecast into string since dictionary cant read datetime types
    
    requested['date_of_forecast']=requested.date_of_forecast.astype(str)
    
    data_new=requested.to_dict()
    
    json_dump= json.dumps(data_new)
    return json_dump
if __name__=='__main__':
    app.run(port=5555)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5555/ (Press CTRL+C to quit)
127.0.0.1 - - [16/Sep/2021 15:48:35] "GET / HTTP/1.1" 404 -
127.0.0.1 - - [16/Sep/2021 15:48:37] "GET /random HTTP/1.1" 200 -

# Get the top n locations based on each available metric where n is a parameter given to the API call.

In [ ]:
# importing our data from the created csv file because of an error that some columns 
# are datetime even though we changed them
df=pd.read_csv(r'C:\Users\adoni\Desktop\margera\all_data.csv')

# dropping unnamed column
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
app= Flask(__name__)

x=df

# making a list of metrics for best practice

metrics = list(df.columns)[6:15] 

         
@app.route('/new/<n>') 
# So the location would be like  http://127.0.0.1:4424/new/n
# For example the url address for the first 10 values would look like this: http://127.0.0.1:4424/new/10

def requested_page(n):        
    
    datafile= []
    
#   sorting by each available metric by using sort_values(by=cl_names[i],ascending=False)

#   ascending=False to get the top values

#   python read id as a string by int(n) we turn it into an integer

#  taking only the metrics from 6-15

    for m in metrics:
        
            x=df.sort_values(by=m,ascending=False).head(int(n))    
            
            datafile.append(x)
            
    datafile= pd.concat(datafile)   
    
    data_set=datafile.to_dict() 
    
    json_dump= json.dumps(data_set)   
    
    return json_dump

if __name__=='__main__':
    app.run(port=4433)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:4433/ (Press CTRL+C to quit)
127.0.0.1 - - [16/Sep/2021 15:48:49] "GET / HTTP/1.1" 404 -
127.0.0.1 - - [16/Sep/2021 15:48:52] "GET /new/19 HTTP/1.1" 200 -
127.0.0.1 - - [16/Sep/2021 15:48:53] "GET /new/10 HTTP/1.1" 200 -


# END